ion-content {
  #container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  #next,
  #previous {
    z-index: 5;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0px;
    left: 0px;
    .button {
      position: absolute;
      transform: translate(-50%);
      border-radius: 100%;
      width: 150%;
      height: 100%;
      // background: rgba(255,255,255,0.2);
      ion-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30%;
        font-size: 3rem;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  #next {
    left: 50%;
    .button {
      left: 100%;
      ion-icon {
        left: 30%;
      }
    }
  }

  #gestureIndicator {
    position: absolute;
    border-radius: 10px;
    background-color: rgba(88, 88, 88, 0.42);
    width: 50%;
    left: 25%;
    top: 35%;
    opacity: 0.7;
  }

  .language-selection {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 50%;
    bottom: 0;
  }
  .loader-videos {
    visibility: hidden;
  }
  .ghost {
    visibility: hidden;
    position: absolute !important;
    display: none !important;
  }
  .loading-bar {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  // .iconRight {
  //   height: 10%;
  //   .rotateLeft {
  //     rotate: 180;
  //   }
  // }
}
