<ion-content [fullscreen]="true">
  <div id="container" *ngIf="menu">
    <video
      playsinline
      width="100%"
      autoplay="autoplay"
      height="100%"
      poster="../assets/poster.jpg"
    >
      <source src="../assets/videos/menu.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <div id="next">
      <div class="language-selection" (click)="changeLanguage('EN')"></div>
    </div>
    <div id="previous">
      <div class="language-selection" (click)="changeLanguage('TR')"></div>
    </div>
  </div>

  <div
    id="container"
    #gesture
    [class.ghost]="!safeUrl"
    (swipeleft)="swipe($event.type)"
    (swiperight)="swipe($event.type)"
    (swipeup)="swipe($event.type)"
  >
    <video
      #video
      playsinline
      width="100%"
      height="100%"
      poster="../assets/poster.jpg"
    >
      <source [src]="safeUrl" *ngIf="safeUrl" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <ng-container *ngIf="sceneIsActive">
      <!-- <div id="gestureIndicator" *ngIf="sequence == 1">
        <img src="../assets/icon/gestureIndicator.png" alt="" />
      </div> -->
      <div id="next" (click)="next()">
        <div class="button">
          <img
            class="iconRight"
            src="../assets/icon/iconRight.png"
            alt=""
            *ngIf="sequence != 15"
          />
          <!-- <ion-icon name="chevron-forward-outline"></ion-icon> -->
        </div>
      </div>
      <!-- <div id="previous" (click)="previous()">
        <div class="button">
          <img class="iconRight rotateLeft" src="../assets/icon/iconRight.png" alt="" />
        </div>
      </div> -->
    </ng-container>
  </div>
</ion-content>
