ion-content {
  #container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  #next,
  #previous {
    z-index: 5;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0px;
    left: 0px;
    .button {
      position: absolute;
      transform: translateY(-50%);
      top:50%;
      right: -10px;
      width: 100px;
      height: 100px;
      text-align: center;
      img{
        height: 100%;
      }
    }
  }

  #previous{
    transform: rotateY(-180deg);
  }
  #next {
    left: 50%;
    .button {
    }
  }

  #gestureIndicator {
    position: absolute;
    border-radius: 10px;
    width: 50%;
    left: 25%;
    top:50%;
    transform: translateY(-50%);
    opacity: 0.7;
  }

  .language-selection {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 50%;
    bottom: 0;
  }
  .loader-videos {
    visibility: hidden;
  }
  .ghost {
    visibility: hidden;
    position: absolute !important;
    display: none !important;
  }
  .loading-bar {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  // .iconRight {
  //   height: 10%;
  //   .rotateLeft {
  //     rotate: 180;
  //   }
  // }
}
